.card-1{
    background-color: green;
    background-size:cover;
    background-position: center;
    text-align: justify;
    color:white;
    width: 400px;
    height: auto;
    margin:50px 70px;
    border-radius: 20px;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 25px;
    display: inline-block;
}
.card-1 a{
    color:green;
    text-align: center;
    text-decoration: none;
    background-color: rgb(4, 40, 4);
    padding:15px 25px;
    display:inline-block;
    border-radius: 10px;
    transition: 600ms;
}
.card-1 a:hover {
    background-color: white;
    padding:15px 70px;

}
.design-1{
    background-color: white;
    border: 1px solid gray;
    text-align: center;
}
.design-1 img{
    width: 400px;
    height: auto;
    padding: none;
    border-radius: 20px 20px 0 0;
}
.design-1 h3{
    color:palevioletred;
    text-align: center;
    background-color: white;
}
.design-1 p{
    color:gray;
    padding: 25px;
    text-align: justify;
}
.design-1 a{
    display: inline-block;
    margin:25px;
    color:gray;
    background-color: palevioletred;
    height: auto;
    width:100px;
}
.design-1 a:hover{
    background-color: rgb(6, 6, 52);
}
.design-2 h3{
    color:orangered;
}
.design-2 a{
    background-color:orangered;
    color:rgb(5, 5, 57);
}
.design-2 a:hover{
    background-color: skyblue;
}
.design-3{
    text-align: center;
    padding:40px 20px;
    background-color: white;
    color:black;
    border:2px solid black;
}
.design-3 img{
    background-color: black;
    border-radius: 50%;
}
.design-3 p{
    text-align: justify;
}
.design-3 a{
    color:white;
    background-color: black;
}
.design-3 a:hover{
    background: purple;
}
.design-4{
    background-color: rgb(207, 96, 115);
    text-align: center;
    padding:40px 20px;
    color:white;
    
}
.design-4 p{
    text-align: justify;
}
.design-4 a{
    color:pink;
    background-color: white;
}
.design-4 a:hover{
    background: #833ab4;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #fcb045, #fd1d1d, #833ab4);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #fcb045, #fd1d1d, #833ab4); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    ;
}
.design-5{
    background-color: black;
    padding: 40px 20px;
    text-align: center;
}
.design p{
    text-align: justify;
}
.design-5 iframe{
    height: 200px;
    border-radius: 40px;
}
.design-5 p{
    text-align: justify;
}
.design-5 a{
    color:white;
    background-color: gray;
}
.design-5 a:hover{
    background-color: skyblue;
}
.design-6{
    background-color: white;
    border: 1px solid gray;
    text-align: center;
    
    
}
.design-6 img{
    width: 400px;
    height: auto;
    padding: none;
    border-radius: 20px 20px 0 0;
}
.design-6 h1{
    text-align: left;
    color:pink;
    padding: 0 20px;
}
.design-6 p{
    color:black;
    padding: 0 20px;
    text-align: justify;
    
}
.design-6 a{
    margin: 30px;
    background-color: azure;
    color:plum;
    border:1px solid pink;
}
.design-6 a:hover{
    color:pink;
    background-color: palevioletred;
}
.design-7{
    padding:40px 30px;
    margin:40px;
    background: #5A3F37;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #2C7744, #5A3F37);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to left, #2C7744, #5A3F37); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    
}
.design-7 img{
    width: 400px;
    height: auto;
    padding: none;
    border-radius: 20px 20px ;
}
.design-7 a{
    color:white;
}
.design-7 a:hover{
    color:pink;
}
.design-8{
    background-color: white;
    padding: 30px;
    border:1px solid pink;
    text-align: center;
}
.design-8 img{
    background-color: black;
    border-radius: 60%;
    
}
.design-8 h1{
    color:black;
}
.design-8 h3{
    color:black;
}
.design-8 p{
    color:black;
    text-align: justify;
}
.design-8 a{
    background-color: palevioletred;
    color:white;
}
.design-8 a:hover{
    color:pink;
}
.design-9{
    border:2px solid green;
}
.design-9 a{
    background-color: gray;
    color:white;
}
.design-9 a:hover{
    color:#2C7744;
}
.design-10 a{
    background-color: darkblue;
    color:white;
}
.design-10 a:hover{
    color:darkolivegreen;
}
.design-11{
    background-color: rgb(138, 12, 12);
    background-image: url(../images/24e1e2ade691f2ec953752cfd053388d.jpg);
    background-blend-mode: multiply;
    padding:30px;
    margin:20px;
    text-align: center;
    margin:30px;
}
.design-11 p{
    text-align: justify;
}
.design-11 a{
    background-color: #5A3F37;
    color:white;
    
}
.design-11 a:hover{
    color:darkred;
    
}
.design-12{
    background-color: rgb(137, 130, 130);
    background-image: url(../images/images\ \(1\).jpeg);
    background-blend-mode: multiply;
    padding:30px;
    margin:20px;
    text-align: center;
    margin:30px;
}
.design-12 a{
    color:darkmagenta;
}
.design-13{
    background: #3C3B3F;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #605C3C, #3C3B3F);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #605C3C, #3C3B3F); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    padding:40px;
    margin:40px;
}
.design-13 a{
    background-color: rgb(81, 79, 79);
    color:darkgray;
}
.design-14{
    background-color: rgb(137, 130, 130);
    background-image: url(../images/Desktop-Nature-Wallpaper.webp);
    background-blend-mode: multiply;
    padding:30px;
    margin:20px;
    text-align: center;
}
.design-14 a{
    background-color: darkblue;
    color:white;
}
.design-14 a:hover{
    color:darkblue;
}
.design-15{
    background-color: black;
    
}
.design-15 p{
    color:white;
}
.design-16{
    padding:40px;
    margin:30px;
    border-radius: 35px;
    text-align: center;
    background: #2F7336;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #AA3A38, #2F7336);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to top, #AA3A38, #2F7336); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}
.design-16 a{
    background-color: #2C7744;
    color:white;
}
.design-16 a:hover{
    color:red;
}
#logo{
    width:40px;
    height: 40px;
    display: inline;
    
}

.design-17{
    background-color: black;
    padding:40px;
}

.design-17 img{
    width: 400px;
    height: auto;
    padding: none;
    border-radius: 20px 20px ;
}
.design-18{
    background-color:black;
    padding:40px;
}